.popover_body{
    background-color: rgba(67,64,88, 0.8);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
}
.row{
    width: 100%;
    display: flex;
}
.cell{
    height: 100%;
}
.logo{
    margin-top: 1%;
    width: 100%;
    height: 98%;
}
.logoCell{
    border: #989aa1 solid 2px;
}
.mailbutton{
    background-color: rgba(67,64,88, 0.8);
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    cursor: pointer;
}
.mailicon{
    color: #989aa1;
    align-self: center;
    margin: auto;
    width: 50%;
    height: 50%;
}
.closebutton{
    position: absolute;
    left: 60vh;
    cursor: pointer;
}
.wikibutton{
    background-color: rgba(67,64,88, 0.8);
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 75%;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.wikitext{
    margin:auto;
    padding-top: 8%;
    background-color: rgba(0,0,0,0);
    color: #989aa1;
    font-size: 1.3vh;
}