.filterSelectionWrapper {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filterSetWrapper {
  flex-grow: 1;
  margin-top: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: #1c1d1f;
  padding-left: 2%;
}
.filterSetTitle {
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  width: 98%;
}
.titleText {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  color: #aaa;
  font-size: 95%;
  font-weight: bolder;
  text-transform: uppercase;
}

.subsetWrapper {
  width: 100%;
  margin-bottom: 1.5vh;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
.subsetHeader {
  flex-grow: 1;
  margin-bottom: 1vh;
  font-size: 95%;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.subFilter {
  flex-grow: 1;
  font-size: 95%;
}
.subFilterGroup {
  padding-left: 5px;
}

.checkBoxWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 0.7vh;
}

.checkBoxWrapper span {
  overflow: hidden;
  float: left;
  width: 90%;
}
.checkBoxWrapper svg {
  width: 10%;
  float: right;
}

.checkBox {
  display: none;
}

.checkBoxLabel {
  cursor: pointer;
}

.checkBoxLabel:before {
  display: inline-block;
}
.arrowIcon {
  width: 20px;
  height: 20px;
  cursor: POINTER;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
