.projectDetailsWrapper{
 margin-top: 10px;
}

.projectDetailsExit{
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
}

.exitSign{
    fill: #069172;
    height: 35px;
}
.projectDetailsTitle{
    border-bottom: 1px solid #069172;
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.titleText {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    color: #069172;
    font-size: 25px;
    font-weight: 100;
}
.projectDetailsIcon{
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.infoItems {
  float:left;
  display:inline;
  width: 48%;
  color: #989aa1;
  margin-bottom: 5px;
  margin-right: 2%;

}
.abstractTitle{
  clear: both;
  color: white;
}
.projectDetailsAbstract{

}

.projectDetailsLink{
  float:left;
  display:inline;
  width: 48%;
  margin-bottom: 5px;
  margin-right: 2%;
}

.abstractText{
    color: white;
    clear: both;
    overflow-y: scroll;
    height: 400px;
}
.catProjectLink {
  cursor:pointer;
}
