.timelineContainer > .timelineContentContainer > .timelineContentContainerBackgroundRect {
    fill: rgba(0, 0, 0, 0);
}

.timelineContainer > .timelineContentContainer .xAxis text {
    font-size: 8px;
    fill: #717071;
}

.timelineContainer > .timelineContentContainer .xAxis line {
    stroke: #0E0E0E;
}

.timelineContainer > .timelineContentContainer .xAxis path {
    stroke: #0E0E0E !important;
}


.timelineContainer > .timelineContentContainer .yAxis line {
    stroke: #0E0E0E;
}

.timelineContainer > .timelineContentContainer .yAxis text {
    fill: #717071;
}

.timelineContainer > .timelineContentContainer .yAxis path {
    stroke: #0E0E0E !important;
}


.timelineContainer > .timelineContentContainer .line path {
    fill: transparent;
    stroke: #29b6f6;
    stroke-width: 1;
}

.timelineContainer > .timelineContentContainer .scatter circle {
    stroke: #4f4f4f;
    stroke-width: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.timelineContainer > .timelineContentContainer .scatter circle:hover {
    stroke: rgba(255, 255, 255, 0.23);
    stroke-width: 8;
}

.projectModal{
    background: #0e0e0e !important;
    position: absolute;
    width: 25vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 11;
    border-left: 5px solid #50e3c2;
    color: #fff;
}
.modalCloser{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 10px;
}
.modalheader{
    font-size: 11px;
    text-align: center;
    padding: 10px 0px;
}

.modalheader p{
    margin: 0px;
}
.modalheader p:last-child{
    font-size: 8px;
}
.dt_modal_header{
    display: flex;
    padding: 30px 10px 25px 15px;
    align-items: center;
    flex-wrap: wrap;
}
.left_icon img{
    height: 40px;
    width: 40px;
}
.right_text p:first-child{
    font-size: 13px;
}
.right_text p:last-child{
    font-size: 13px;
}
.right_text p{
    margin: 0px;
    padding-left: 10px;
    text-transform: uppercase;
}
.dt_modal_title p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif !important;
}
.dt_modal_des p{
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
    color: #9b9b9b;
    margin: 0 0 10px;
}
.modal_des_wrap{
    padding: 0px 15px;
    color: #5f6063;
}
.info_label{
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;    
}
.info_des{
    color: #9b9b9b;
    text-transform: capitalize;
    font-size: 10px;
    margin: 0 !important;
    font-family: IBM Plex Mono,monospace;
}
.info_des a {
    color: #337ab7;
    text-decoration: none;
}
.info_split{
    display: flex
}

.dt_modal_info_full{
    margin-bottom: 20px;
}

.dt_modal_info{
    width: 50%; 
    margin-bottom: 20px;
}

.dt_modal_text_area textarea{
    width: 100%;
    height: 100px;
    background: #1c1d1f;
    border: 0px;
}
.controlBoard{
    position: relative;
    color: #50e3c2;
    margin-top: 10px !important;
}
.control{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 9px;
    position: absolute;
    top: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.left{
    transform: rotate(-90deg);
    top: -3px;
    bottom: 0;
    margin: auto;
    left: 95px;
}
.right{
    transform: rotate(90deg);
    top: -3px;
    bottom: 0;
    margin: auto;
    right: 95px;

}


/* 
.popFixer:after, .popFixer:before{
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popFixer:after {
	border-color: rgba(38, 38, 38, 0);
	border-top-color: #262626;
	border-width: 7px;
	margin-left: -7px;
} */