.BackGradient {
    background-color: #434058;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.GraphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}