rect.bar{
    fill:none;
    /*stroke:#985152;*/
    stroke-width:2;
    rx:2;
    ry:2;
}
div.tooltip {
    position: fixed;
    text-align: center;
    width: auto;
    height: 16px;
    padding: 4px;
    font: 14px CHBold;
    background: #434058;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
/*right Axis*/
.domain{
    stroke: rgba(0,0,0,0);
}
.tick text{
    fill:#88a;
}
.tick line{
    stroke: #88a;
    stroke-dasharray: 2,2;
}