<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">
<html>
<head>
  <title>Types of Interpolation</title>
  <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
  <style  type="text/css">
    h1 {font-size:130%;}
    h2 {font-size:100%;}
    svg {
      background-color: #ffffff; 
      border: 1px solid #dddddd; 
      margin-left: 1em;
      margin-top: 1ex;
      /*padding-right: 1em;*/
    }
  </style>
</head>

<body>
  <h1>InterpolateRgb</h1>
  <div id = "svgcontainer1"></div>
  <script type="text/javascript" src="InterpolateRgb.js"></script>
  
  <h1>InterpolateString</h1>
  <div id = "svgcontainer2"></div>
  <script type="text/javascript" src="InterpolateString.js"></script>
  
  <h1>InterpolateNumber</h1>
  <div id = "svgcontainer3"></div>
  <script type="text/javascript" src="InterpolateNumber.js"></script>
</body>
</html>

<!-- Quellen:
  http://docs.w3cub.com/d3~4/d3-interpolate/

-->
