<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script type="text/javascript"><!-- JavaScript -->
      alert("Hello World!");
    </script>
    <p>Hello World!</p>
    
    <!-- JavaScript -->
    <input type="button" value="Hello" onClick="alert('Hello World!');" />
    
    <!-- Rectangle -->
    <svg width="50" height="50">
      <rect x="0" y="0" width="50" height="50" fill="green" />
    </svg>

    <!-- Circle -->
    <svg width="50" height="50">
    <circle cx="25" cy="25" r="25" fill="purple" />
    </svg>

    <!-- Ellipse -->
    <svg width="50" height="50">
      <ellipse cx="25" cy="25" rx="15" ry="10" fill="red" />
    </svg>

    <!-- Straight Line -->
    <svg width="50" height="50">
      <line x1="5" y1="5" x2="40" y2="40" stroke="gray" stroke-width="5"  />
    </svg>


    <!-- Polyline -->
    <svg width="50" height="50">
      <polyline fill="none" stroke="blue" stroke-width="2"
                points="05,30
                        15,30
                        15,20
                        25,20
                        25,10
                        35,10" />
    </svg>

    <!-- Polygon -->
    <svg width="50" height="50">
      <polygon fill="yellow" stroke="blue" stroke-width="2"
              points="05,30
                      15,10
                      25,30" />
    </svg>
  </body>
</html>
