.Chip {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.3vh;
    height: 2.5vh;
    background: white;
    border-radius: 10px;
    padding-left: 0.5vh;
    transition: all 0.5s ease-out;
}

.ChipContainer{
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
}

.SubChips{
    position: relative;
    width: 0;
    display: flex;
    transition: all 0.5s ease-out;
    overflow: hidden;
    padding-right: 0.5vh;
}

.ExpandCollapse {
    cursor: pointer;
    margin-right: 1vh;
    color: white;
    font-size: 1vh;
}

.Indicator {
    display: flex;
    margin-bottom: 1%;
    background: #989aa1;
    width: 2vh;
    height: 2vh;
    color: white;
    border-radius: 50%;
    line-height: 1vh;
    justify-content: center;
    font-size: 1vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}
.IndicatorDigit{
    margin-top: 0.66vh;
}