.FullWidth {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 5vh;
    width: calc(100vw - 10vh);
    height: 16vh;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all 1s ease-out;


}
