.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 90%;
    height: 40%;
    width: 10%;
    color: white;
    background-color: rgba(100,100,100,0.5);
}

.Circle {
    display: flex;
    margin: 5px 5px;
    height: 80%;
    width: 80%;
}

