.Container {
    height: 64%;
    width: 100%;
    color: white;
    background: rgba(67,64,88, 0.4);
}

.Header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    letter-spacing: 0.5px;
    font-size: 1vh;
}

.NavElement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28.34%;
    cursor: pointer;
}

