<!DOCTYPE html>
<html>
<head>
  <title>Auswertung der Pilot Studie</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">
  <link href="styles.css" rel="stylesheet">
  <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="scripts/geometry.js"></script>
  <script type="text/javascript" src="scripts/d3-tip.js"></script>
  <script type="text/javascript" src="scripts/settings.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <!--<script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>-->
</head>

<body>
  <div class="box">
    <script type="text/javascript" src="scripts/ergebnisse2.js"></script>
    <script type="text/javascript" src="scripts/test1-13.js"></script>
    <script type="text/javascript" src="scripts/test14.js"></script>
    <script type="text/javascript" src="scripts/test15.js"></script>
    <script type="text/javascript" src="scripts/test16.js"></script>
  </div>
  
  <!-- Quellen:
  https://www.w3schools.com/tags/tag_input.asp
  https://www.w3schools.com/html/html_form_input_types.asp
  -->

</body>
</html>
