/* /////////////////// HTML Elemente ///////////////// */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ddd;
  /*color: white;*/
  font-size: 12px;
  padding: 1ex;
  /*width: 750px;*/
  text-align: center;
  width: 95%;
  margin-left : 2.5%
}

html {
  scroll-behavior: smooth;
}

form {
  display: inline;
  /*margin:auto; https://d-graff.de/demos/selfhtml/jeena_test.html*/
}

button {
  /*color: white;
  background-color: #666;*/
  margin: 0.2ex;
  padding: 0.5ex;
}

input {
  /*color: white;
  background-color: #666;*/
  padding: 0.5ex;
  margin:auto;
  /*margin-right: 0.4em;*/
}

input.radio {
  display: block;
}

h1 {
  font-size:160%;
}

h2 {
  font-size:130%;
}

p {
  font-size: 12px;
  margin-bottom: 1.6ex;
  /*width: 750px;*/
  text-align: justify;
}

li, ul {
  text-align: justify;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */

/* https://www.w3schools.com/cssref/sel_nth-child.asp
td:nth-child(1) {
  text-align: right;
}*/

div.spalte {
  width: 50%;
  float: left;
}

.box {
  overflow: auto;/* genestete Elem. enden mit Elternelem, siehe clearfix */
  float: none;
  margin-top: 1.5ex;
  margin-bottom: 1.5ex;
}

#transDurationIn {
  width: 100px;
  position: relative;
  top: 1.3ex;
}

#transDurationOut {
  position: relative;
  top: -2.6ex;
  right: 110px;
  width: 3em;
  height: 1em;
  text-align: right;
  white-space: nowrap;
}

/* /////////////////// SVG Elemente ///////////////// */
svg {
  background-color: #fff; 
  border: 1px solid #999;
  /*float: left;*/
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.area {
  fill: yellow;
  opacity: 0.3;
}

text {
  font-size: 11px;
  fill: black;
}

circle {
  fill: pink;
  stroke: red;
  stroke-width: 1.5px;
}

path.hulls {
  /*fill: gray;
  stroke: gray;*/
  stroke-width: 25px;
  /*opacity: 0.3;*/
  paint-order: stroke markers fill;
  stroke-linejoin: round;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
/* Multirange: https://wiki.selfhtml.org/wiki/HTML/Formulare/input/number */
@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
    background: #1c1d1f;
	}

	input[type="range"].multirange.original {
		position: absolute;
	}

  input[type="range"].multirange.original::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
  }

  input[type="range"].multirange.original::-moz-range-thumb {
    transform: scale(1); /* FF doesn't apply position it seems */
    z-index: 1;
    /*background: rgba(0, 1, 1, 0.8); left button*/
  }

  input[type="range"].multirange::-moz-range-track {
    border-color: transparent; /* needed to switch FF to "styleable" control */
  }

	input[type="range"].multirange.ghost {
		position: relative;
		background: var(--track-background);
		--track-background: linear-gradient(to right,
				hsl(100, 100%, 100%) /*linker balken, anstatt transparent*/
        var(--low), var(--range-color) 0,
				var(--range-color) var(--high), 
        hsl(100, 100%, 100%) /*rechter balken, anstatt transparent*/
        0
			) no-repeat 0 45% / 100% 25%;
		--range-color: hsl(100, 80%, 40%);/* balken*/
	}

  input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
    background: var(--track-background);
  }

  input[type="range"].multirange.ghost::-moz-range-track {
    background: var(--track-background);
  }

}
