<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">
<html>
<head>
  <title>SVG speichern</title>
  <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
  <style  type="text/css">
    svg {float: left; padding-right: 1em;}
    h1 {font-size:130%;}
    h2 {font-size:100%;}
    .clearfix {overflow: auto;}
  </style>
</head>

<body>

<!-- ////////////// Rechteck /////////////// -->
<h1>Rechteck</h1>
  <div>
  ​<a id="download" href="#">Download SVG</button>
  <!--<div id="placeholder"></div>-->
  <!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.5.0"></script>-->
  <script type="text/javascript" src="Rechteck.js"></script>
 </div>
 
</body>
</html>

<!-- Quellen:
  http://bl.ocks.org/duopixel/3831266
  https://stackoverflow.com/questions/11620698/how-to-trigger-a-file-download-when-clicking-an-html-button-or-javascript
-->
