.timelineContainer
  > .timelineContentContainer
  > .timelineContentContainerBackgroundRect {
  fill: rgba(0, 0, 0, 0);
}

.timelineContainer > .timelineContentContainer .xAxis text {
  fill: #717071;
  font-weight: 700;
  font-family: IBM_Plex_Mono;
}

.timelineContainer > .timelineContentContainer .xAxis line {
  stroke: transparent;
}

.timelineContainer > .timelineContentContainer .xAxis path {
  stroke: #0e0e0e !important;
}

.timelineContainer > .timelineContentContainer .yAxis line {
  stroke: #0e0e0e;
}

.timelineContainer > .timelineContentContainer .yAxis text {
  fill: #717071;
  font-weight: 700;
  font-family: IBM_Plex_Mono;
}

.timelineContainer > .timelineContentContainer .yAxis path {
  stroke: transparent !important;
}

.timelineContainer > .timelineContentContainer .area:hover {
  stroke: #5555;
  stroke-width: 7;
}

.wtaBucketCircle {
  fill: #fff;
  stroke: #fff;
}

.wtaBucketCircle:hover {
  fill: #afca0b;
  stroke: #afca0b;
  cursor: pointer;
}

.wtaBucketName {
  color: #717071;
}

.wtaBucketName:hover {
  color: #afca0b;
}
.plotTitle {
  color: #717071;
  font-size: 130%;
}

.ktaBucketsWrapper {
  margin-top: 20px;
  overflow-y: scroll;
}
