.DetailsWrapper {
  background-color: #1c1d1f;
  padding: 2%;
  height: 100%;
  width: 100%;
  border-top: 5px solid #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.DetailsExit {
  height: 15px;
  width: 15px;
  position: relative;
  cursor: pointer;
  top: 0px;
  left: 90%;
  flex-grow: 0;
  fill: #aaa;
}

.DetailsExit:hover {
  fill: #afca0b;
}

.DetailsTitle {
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  margin-bottom: 10px;
  flex-grow: 0;
  color: #aaa;
}
.titleTopic {
  font-size: 18px;
}
.titleText {
  width: 100%;
  font-size: 25px;
  font-weight: 100;
}
.TitleIcon {
  width: 20px;
  height: width;
  margin-right: 8px;
}
.infoItems {
  float: left;
  width: 100%;
  color: #989aa1;
  margin-bottom: 5px;
  flex-grow: 1;
}
.infoItemTitle {
  margin-top: 7px;
  color: #777;
  font-weight: 500;
  margin-bottom: 3px;
  flex-grow: 0;
}
.abstractTitle {
  color: #aaa;
}

.DetailsLink {
  background-color: #000;
  border: 5px solid black;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  line-height: 230%;
}
.DetailsLink:hover {
  color: #afca0b;
}

.DetailsLinkUnclickable {
  margin-right: 3px;
  color: #aaa;
}

.DetailsViaLink {
  color: #afca0b;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  font-size: 130%;
  background-color: #333;
  cursor: pointer;
}
.DetailsViaLink:hover {
  color: #fff;
  text-decoration: none;
}
.abstractText {
  color: #aaa;
  margin-bottom: 5px;
  flex-grow: 1;
  min-height: 8%;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(transparent 75%, #141414);
}
.sampleHeader {
  font-size: 12px;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}
.sampleName {
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 15px;
}
.sampleName:active {
  color: #afca0b;
}
.sampleDate {
  font-family: IBM_Plex_Mono;
  font-size: 12px;
  padding-bottom: 10px;
}
