.panelButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.titleText {
  color: #aaa;
  background-color: #1c1d1f;
  cursor: POINTER;
  fill: #aaa;
  padding: 3% 0% 3% 0%;
  font-size: 100%;
  text-align: center;
  flex-grow: 1;
  border-right: #0e0e0e solid 5px;
  margin-bottom: 10px;
}
.buttonIcon {
  width: 15%;
  height: width;
  display: flex;
  margin: auto;
  padding: 2%;
}

.titleText:hover {
  color: #afca0b;
  fill: #afca0b;
}
