.sideBarWrapper {
  overflow-y: scroll;
  scrollbar-color: #808080 #0e0e0e;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px black;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
