.sideBarWrapper {
  scrollbar-color: #808080 #0e0e0e;
  width: 400px;
  margin-right: 3px;
  padding-left: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px black;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
