.FilterElement {
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;
    border-bottom: white solid 1px;
    width: 100%;
    transition: height ease-out 0.5s;
}

.Body {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.FirstBlock{
    width: 100%;
}
.UpperHead{
    border-bottom: 1px solid #50e3c2;
    padding-bottom: 10px;
}
.CheckContainer{
    overflow: hidden;
}
.CheckContainer div{
    overflow: hidden;
    font-family: IBM Plex Mono,monospace;
    margin-top: 0.8vh;
}
.CheckContainer .CheckBoxLabel{
    float: right;
}

.groupMarginFix{
    padding-left: 10px;
}

.Title {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    color: #00e3c2;
    font-size: 2vh;
    font-weight: 100;
}
.subGroup {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-size: 1.8vh;
    font-weight: 100;
    margin-top: 10px;
}

.ButtonCollapsed {
    height: 3vh;
    width: 4vh;
    transform: rotate(180deg);
}
.ButtonExpanded {
    height: 3vh;
    width: 4vh;
}

.Text{
    height: 100%;
    display: flex;
    align-items: center;
}

.Indicator {
    display: flex;
    margin-bottom: 1%;
    margin-left: 20px;
    background: #989aa1;
    width: 3vh;
    height: 3vh;
    color: white;
    border-radius: 50%;
    line-height: 1.5vh;
    justify-content: center;
    font-size: 1.5vh;
}
.IndicatorDigit{
    margin-top: 1vh;
}

.Filter {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 80px;
    color: white;
}

.Filter span {
    max-width: 80%;
    overflow-wrap: break-word;
}

.CheckBox {
    display: none;
}

.CheckBoxLabel {
    display: inline;
    vertical-align: middle;
    margin: 5px 5px;
    cursor: pointer;
}

.CheckBoxLabel {
    position: relative;
    background: #50e3c2;
    width: 19px;
    height: 19px;
}


.CheckBoxLabel:before {
    content: '';
    border: 2px solid #50e3c2;
    background: #000;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin-right: 5px;
    text-align: center;
    margin-top: -1px;
}

.CheckBox + .CheckBoxLabel:before {
    border-radius: 0;
}

.CheckBox:checked + .CheckBoxLabel:before {
    background: #50e3c2;
    background-clip: content-box;
}

.CheckBoxLabel.yellow{
    background: #f4a310;
}
.CheckBoxLabel.yellow::before{
    border-color: #f4a310;
}
.CheckBox:checked + .CheckBoxLabel.yellow:before {
    background: #f4a310;
    background-clip: content-box;
}
.CheckBoxLabel.red{
    background: #f12626;
}
.CheckBox:checked + .CheckBoxLabel.red:before {
    background: #f12626;
    background-clip: content-box;
}
.CheckBoxLabel.red::before{
    border-color: #f12626;
}
.CheckBoxLabel.green{
    background: #7ad101;
}
.CheckBox:checked + .CheckBoxLabel.green:before {
    background: #7ad101;
    background-clip: content-box;
}
.CheckBoxLabel.green::before{
    border-color: #7ad101;
}
.CheckBoxLabel.violet{
    background: #9c9bff;
}
.CheckBox:checked + .CheckBoxLabel.violet:before {
    background: #9c9bff;
    background-clip: content-box;
}
.CheckBoxLabel.violet::before{
    border-color: #9c9bff;
}
.CheckBoxLabel.grey{
    background: #989aa1;
}
.CheckBox:checked + .CheckBoxLabel.grey:before {
    background: #989aa1;
    background-clip: content-box;
}
.CheckBoxLabel.grey::before{
    border-color: #989aa1;
}

.CheckBox:focus + .CheckBoxLabel {
    outline: 1px solid transparent;
}
