@import "react-input-range/lib/css/index.css";
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  background: #1c1d1f;
  display: flex;
  padding: 0px;
  border: 5px solid #2d2d2d;
}

.leftFooter {
  width: 30vw;
  display: flex;
  border-right: 5px solid #2d2d2d;
}

.milldleLeft {
  width: 45vw;
  border-right: 5px solid #2d2d2d;
}

.timeSlider {
  padding-left: 10px;
  width: 90%;
}

/* .filter{
    width: 60%;
    display: flex;
    align-items: center;
} */

.filter {
  width: 100% !important;
}

.filterWrap {
  width:46%;
  float: left;
  padding: 10px;
}

.selectLabel {
  width: 20%;
  display: inline-block;
  color: #a4a4a4;
  font-size: 10px;
  letter-spacing: 1px;
}

    .css-vj8t7z {
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: transparent;
      border-color: hsl(0, 0%, 80%);
      border-radius: 0;
      border-style: solid;
      border-width: 1px;
      cursor: default;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      min-height: 38px;
      outline: 0 !important;
      position: relative;
      -webkit-transition: all 100ms;
      transition: all 100ms;
      box-sizing: border-box;
      border: 0px;
      border-bottom: 2px solid red !important;
    }

/* .footer select {
    background: transparent;
    padding: 2px 0px;
    height: auto !important;
    line-height: 0;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #717071;
    text-align: center !important;
    padding-left: 15px;
    color: #50e3c2; }
  .footer__section:first-child {
    border-left: 5px solid #1c1d1f;
    padding-top: 40px; }
  .footer__section:last-child {
    border-right: 5px solid #1c1d1f; }
  .footer__section {
    vertical-align: middle;
    padding: 23px 15px;
    background: #0e0e0e;
    border: 5px solid #1c1d1f;
    border-right: 1px solid #1c1d1f;
    border-left: 5px solid #1c1d1f;
    height: 90px;
    padding-bottom: 0px;
    float: left;
    width: 37.5%; }
    .footer__section.short_section {
      width: 12.5%; }
    .footer__section .form-group {
      margin-bottom: 0px; }
    .footer__section .css-vj8t7z {
      background-color: transparent;
      border-color: #717071;
      border-radius: 0px;
      border-style: solid;
      border-width: 0 0 2px 0;
      cursor: pointer; }
    .footer__section .css-10nd86i {
      margin-top: 6px; }
    .footer__section .css-vj8t7z {
      min-height: unset;
      height: 24px; }
    .footer__section .css-1492t68 {
      color: #50e3c2;
      font-size: 12px; }
    .footer__section .css-d8oujb {
      display: none; }
    .footer__section .css-15k3avv {
      top: -130px; }
    .footer__section .css-2o5izw {
      background-color: transparent !important;
      border-width: 0 0 2px 0;
      box-shadow: unset !important;
      border-radius: 0px;
      border-color: #717071; }
    .footer__section .css-xp4uvy {
      color: #50e3c2; }
    .footer__section li {
      width: 100%;
      height: 100%;
      text-align: center;
      list-style: none;
      padding: 15px 0px;
      padding-top: 10px; }
      .footer__section li a:hover {
        color: #50e3c2;
        text-decoration: none; }
      .footer__section li a {
        color: #fff; } */

/* .btnFooter{
  background: transparent;
  border: 0px;
  color: #fff;
  cursor: pointer;
} */

.milldleRight {
  border-right: 5px solid #2d2d2d;
  text-align: center;
  width: 15vw;
}

.rightFooter {
  text-align: center;
  border-right: 5px solid #2d2d2d;
  width: 10vw;
}

.btnFooter {
  background: transparent;
  border: 0px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.btnFooter:hover {
  color: #50e3c2;
}