.navbar {
  background: #0e0e0e;
  flex-grow: 0;
  display: flex;
  font-family: inherit;
}
.logo {
  padding: 14px !important;
  text-align: center !important;
}

.NavigationElement.logo::after {
  display: none !important;
}

.leftpanel {
  width: 70vw;
}
.rightPanel {
  width: 30vw;
}
.buttonIcon {
  width: 25px;
  height: width;
  margin: 8px;
}
.NavigationRightElement {
  text-decoration: none;
  color: #aaa;
  fill: #aaa;
  font-size: 18px;
  overflow-x: hidden;
  text-align: center;
  background: #1c1d1f;
  border-right: 3px solid #0e0e0e;
  cursor: pointer;
  display: block;
}

.NavigationRightElement:hover {
  color: #afca0b;
  fill: #afca0b;
}

.rightPanel ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5px;
  align-items: center;
  list-style-type: none;
}

.rightPanel ul li {
  width: 33%;
  cursor: pointer;
  position: relative;
}

.ContainerSub {
  padding: 0%;
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0%;
  top: 5vh;
  left: 5vh;
  color: rgba(100, 100, 100, 0.5);
  list-style: none;
}

.ContainerSub li {
  width: 24.5%;
  cursor: pointer;
  position: relative;
  margin-right: 1px;
}

.NavigationElement {
  text-decoration: none;
  color: #aaa;
  font-size: 18px;
  padding: 28px 8%;
  text-align: left;
  background: #1c1d1f;
}
.NavigationRightElement:hover::after {
  opacity: 1;
}
.NavigationElement:hover {
  background: #aaa;
  color: #1c1d1f;
}

.NavigationElement .logo {
  padding: 14px !important;
}

.active {
  background: transparent;
  color: #afca0b;
}

.active:after {
  opacity: 1;
}

.introTooltip {
  background-color: #1c1d1f;
  color: #e1e1e1;
  min-width: 600px;
  font-family: inherit;
}

.introTooltip h2 {
  color: #afca0b;
}

.introTooltip h3 {
  color: #afca0b;
}

.introTooltip p {
  cursor: pointer;
}

.introTooltip span {
  cursor: pointer;
  color: #afca0b;
  position: absolute;
  top: 90%;
  left: 2%;
  font-weight: 700;
}

.introHighlightClass {
  background-color: #222;
}
.shareDialog {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 0;
}

.shareHeader {
  font-size: 22px;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 30px;
}

.closeShare {
  font-weight: 600;
  font-size: 14px;
  color: #afca0b;
  margin-top: 30px;
  cursor: pointer;
}

.shareInput {
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: #aaa;
  width: 50%;
  text-overflow: ellipsis;
}
.shareClipboardLink {
  color: #afca0b;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.bp3Dialog {
  background-color: #1c1d1f;
  opacity: 0.85;
  border-radius: 0;
}
