.navbar {
  background: #0e0e0e;
  display: flex;
}

.leftpanel {
  width: 72vw;
  display: flex;
  justify-content: space-evenly;
  color: rgba(100, 100, 100, 0.5);
  margin: 0px;
  list-style: none;
  padding-inline-start: 0px;
}
.leftElement {
  margin-top: 5px;
  flex-grow: 1;
  text-decoration: none;
  width: 100%;
  color: #aaa;
  font-size: 105%;
  text-align: left;
  background: #1c1d1f;
  margin-right: 5px;
  padding-top: 8px;
  padding-left: 10px;
  cursor: pointer;
}
.leftElement:hover {
  background: #aaa;
  color: #1c1d1f;
}




