.navbar{
    background: #0e0e0e;
    padding: 5px;
    height: 9vh;
    display: flex;

}
.logo{
    padding: 10px !important;
    text-align: center !important;
}
.leftpanel{
    width: 80vw;
}
.rightPanel{
    width: 20vw;
    background:  #0e0e0e;
}
.NavigationRightElement{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 30px 5px;
    padding-left: 30px;
    background: #1c1d1f;
    text-align: center;
    border-right: 1px solid #0e0e0e;
    cursor: pointer;
}
.rightPanel ul{
    padding: 0px;
    display: flex;
    align-items: top;
    margin: 0px;
}
.rightPanel ul li{
    width: 50%;
    list-style: none;
}
.ContainerSub{
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0%;
    top: 5vh;
    left: 5vh;
    color: rgba(100,100,100,0.5);
    list-style: none;
}

.ContainerSub li{
    width: 24.5%;
    
    cursor: pointer;
    position: relative;
    margin-right: 1px;
}

.ContainerSub li:hover:after{
    opacity: 1;
}
.ContainerSub li:hover{
    background: transparent;    
}
.NavigationElement:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #50e3c2;
    top: 0;
    left: 0;
    opacity: 0;
}
.ContainerSub li:hover .NavigationElement:after{
    opacity: 1;
}
.NavigationElement{
    text-decoration: none;
    color: #50e3c2;
    font-size: 13px;
    display: block;
    padding: 30px 5px;
    padding-left: 30px;
    background: #1c1d1f;
}

.active{
    background: transparent;
}
.active:after{
    opacity: 1;
}
