.FilterBox{
    background: rgba(67,64,88, 0.4);
    width: 100%;
    height: 50%;
    color: white;
}

.Header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;

}

.Filter1, .Filter2, .Filter3 {
    position: relative;
    width: 100%;
    height: 28.34%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.ClickListener{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Filter1:hover, .Filter2:hover, .Filter3:hover {
    color: #434058;
    background: white;
}

