.FilterBox{
    background: #434058;
    width: 100%;
    height: 100%;
    color: white;
}

.Header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Filter1, .Filter2, .Filter3 {
    position: relative;
    width: 100%;
    height: 28.34%;
    display: block;
    cursor: pointer;
}

.filterText{
    position: absolute;
    top: 45%;
    width: 100%;
    display: block;
    text-align: center;
    align-content: center;
}

.ClickListener{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Filter1:hover, .Filter2:hover, .Filter3:hover {
    color: #434058;
    background: white;
}

.Filter1{}
.Filter2{}
.Filter3{}

.Input{
    position: absolute;
    left: 110%;
    top: 45%;
}
