.Module {
    position: absolute;
    left: 100%;
    top: 0;
    width: 300px;

    padding-left: 15px;
    background: rgba(67,64,88, 0.4);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.Filter {
    display: flex;
    min-height: 20px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
}

input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    -webkit-transition: all 0.12s, border-color 0.08s;
    transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
