.clusterMapWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.tooltipIcon:hover {
  fill: #afca0b;
  cursor: pointer;
}
.legendRow:hover {
  color: #afca0b;
  stroke: #afca0b;
  fill: #afca0b;
}

.legendRow {
  margin-bottom: 10px;
  stroke: #6b6b6b;
  fill: #6b6b6b;
  color: #6b6b6b;
}
