.geoMapWrapper {
  padding-left: 20px;
}

.arcWrapper {
  width: 100%;
  height: 45%;
}

.mapsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.plotTitle {
  color: #717071;
  font-size: 110%;
}

.circle {
  cursor: pointer;
  stroke-width: 0px;
  transition: stroke-width 1s;
}
.circle:hover {
  stroke-width: 15px;
}
.countCircle {
  cursor: pointer;
  fill: #aaa;
}
.countCircle:hover {
  fill: #fff;
  transition: fill 1s;
}
.arcHover {
  opacity: 0.4;
  transition: opacity 1s;
  cursor: pointer;
}
.arcHover:hover {
  opacity: 1;
}
.continentSVG {
  fill: #aaa;
  cursor: POINTER;
}

.continentSVG:hover {
  fill: #fff;
}
