.arcWrapper {
  width: 100%;
  height: 50%;
}

.mapsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.continentWrapper {
  width: 16.666%;
}

.plotTitle {
  color: #717071;
  font-size: 130%;
}

.circle {
  cursor: pointer;
  stroke-width: 0px;
  transition: stroke-width 1s;
}
.circle:hover {
  stroke-width: 15px;
}
