
.geoViewWrapper{
    display: flex;
    flex-direction: column;
}

.arcWrapper{
    width: 100%;
    height: 50%;
}

.labelWrapper{
    width: 100%;
    height: 5%;
    align-content: center;
}

.continentLabel{
    position: absolute;
    transform: translate(-50%, 0);
    font-size: 1vw;
    color: white;
}

.mapsWrapper{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.continentWrapper{
    width: 16.666%;
}