<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" charset="utf-8">
<html>
<head>
  <title>Convex Hull</title>
  <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3-polygon.v1.min.js"></script>
  
  <script type="text/javascript" src="geometry.js"></script>
  <style  type="text/css">
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    svg {border: 1px solid #dedede; padding-right: 1em;}
    h1 {font-size:130%;}
    h2 {font-size:100%;}
    .line {
      fill: none;
      stroke: orange;
      stroke-width: 2px;
    }
    .area {
      fill: yellow;
      opacity: 0.3;
    }
    text {
      fill: black;
      font-size: 10px;
    }
  </style>
</head>

<body>

<h1>Random Points</h1>
  <div>
  <button type="button" onclick="update()">Update</button>
  <script type="text/javascript" src="update.js"></script>
  <p>Probleme: wenn sich die Anzahl der Knoten der konvexen Hülle verändert, springt die Animation. Außerdem stimmen die Knoten des Polygons und der Hülle nicht überein.</p>
  </div>
  
<h1>Überführung konvexer Polygone und Mittelpunkt</h1>
  <div>
  <button type="button" onclick="morph()">Morph</button>
  <script type="text/javascript" src="morph.js"></script>
  <p>Bei der Überführung von der einen zur anderen FIgur, ist die Reihenfolge der Punkte und auch der Startpunkt wichtig (für Kreise und das Polygon). Bevorzugte Richtung: Gegenuhrzeigersinn.</p>
  </div>
  
<h1>Entfernt oder fügt Knoten hinzu</h1>
  <div>
  <script type="text/javascript" src="add-delete-nodes2.js"></script>
  <p>Ab und zu gibt es noch Probleme. Hier wird die Knotenzahl der alten und neuen Hülle angeglichen und ggf. neue Knoten interpoliert.</p>
  </div>
  
<h1>Smooth Hull</h1>
  <div>
  <script type="text/javascript" src="smoothHull.js"></script>
  <p>Knoten können entfernt oder hinzugefügt werden. Dabei passt sich die Hülle weich an und wird sogar für nur einen Knoten gezeichnet. Die Rundung wird durch eine breite und runde Außenlinie simuliert. Nachteil: Wenn Außenlinie und Füllung farblich abweichen oder einen Alpha-Wert erhalten, sieht das unschön aus.</p>
  </div>
</body>
</html>

<!-- Quellen:

-->
