.filterTimelineWrapper{
    margin-top: 15px;
}
.filterTimelineTitle{
    border-bottom: 1px solid #069172;
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.titleText {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    color: #069172;
    font-size: 25px;
    font-weight: 100;
}
.filterTimelineSlider {
    padding: 25px;
}